<h1><%= @question.title %></h1>
<div><%= @question.body  %></div>
<% if @question_comments %>
  <ul>
    <% @question_comments.each do |comment| %>
      <li><%= comment.body %></li>
      <% end %>
  </ul>
<% end %>
<%= link_to 'Add a Comment', new_question_comment_path(@question) %>
<div><%= link_to 'Add an Answer', new_question_answer_path(@question) %></div>

<h2>Answers:</h2>
<% if @best_answer %>
  <div><%= @best_answer.body %></div>
  <% if @best_answer.comments %>
    <ul>
      <% @best_answer.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to 'Add a Comment', new_question_answer_comment_path(@question, @best_answer) %>
<% end %>

<% if @answers %>
  <% @answers.each do |answer| %>
    <div><%= answer.body %></div>
      <% if answer.comments %>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.body %></li>
          <% end %>
        </ul>
      <% end %>
    <%= link_to 'Add a Comment', new_question_answer_comment_path(@question, answer) %>
    <% end %>
<% end %>