<h1><%= @question.title %></h1>

<%= render partial: 'application/votable', locals: {votable_object: @question} %>

<%= @question.body  %>
<%= link_to "Asked by #{@question.user.username}", user_path(@question.user) %>
<div> <%= pirate_time( @question.created_at ) %> </div>

<div>
  <%= link_to 'Edit Question', edit_question_path(@question) %>
  <%= link_to 'Delete Question', question_path(@question), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>

<% if @question.comments %>
  <ul>
    <%= render partial: @question.comments %>
  </ul>
<% end %>

<div><%= link_to 'Add a Comment', new_question_comment_path(@question) %></div>
<div><%= link_to 'Add an Answer', new_question_answer_path(@question) %></div>

<h2>Answers:</h2>
<% if @question.best_answer %>
  <h4>Best Answer: </h4>
  <%= render partial: @question.best_answer  %>
<% end %>

<% if @question.answers_by_votes %>
  <h4>Other Answers: </h4>
  <%= render partial: @question.answers_by_votes %>
<% end %>

<div><%= link_to 'All Questions', questions_path %></div>
