<h1><%= @question.title %></h1>
<%= link_to vote_question_path(@question, vote_count: 1), method: 'post' do %>
  <p>Upvote</p>
<% end %>
<%= link_to vote_question_path(@question, vote_count: -1), method: 'post' do %>
  <p>Downvote</p>
<% end %>
<div><%= @question.body  %></div>
<% if @question_comments %>
  <ul>
    <% @question_comments.each do |comment| %>
      <li><%= comment.body %></li>
      <% if comment.user_id == session[:user_id] %>
        <%= link_to 'Edit', edit_question_comment_path(@question, comment) %>
        <%= link_to 'Delete', question_comment_path(@question, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
      <% end %>
  </ul>
<% end %>
<%= link_to 'Add a Comment', new_question_comment_path(@question) %>
<div><%= link_to 'Add an Answer', new_question_answer_path(@question) %></div>

<h2>Answers:</h2>
<% if @best_answer %>
  <%= link_to vote_answer_path(@best_answer, vote_count: 1), method: 'post' do %>
    <p>Upvote</p>
  <% end %>
  <%= link_to vote_answer_path(@best_answer, vote_count: -1), method: 'post' do %>
    <p>Downvote</p>
  <% end %>
  <div><%= @best_answer.body %></div>
  <% if @best_answer.user_id == session[:user_id] %>
    <%= link_to 'Edit', edit_question_answer_path(@question, @best_answer) %>
    <%= link_to 'Delete', question_answer_path(@question, @best_answer), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  <% if @best_answer.comments %>
    <ul>
      <% @best_answer.comments.each do |comment| %>
        <li><%= comment.body %></li>
        <% if comment.user_id == session[:user_id] %>
          <%= link_to 'Edit', edit_question_comment_path(@question, comment) %>
          <%= link_to 'Delete', question_comment_path(@question, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <%= link_to 'Add a Comment', new_answer_comment_path(@best_answer) %>
<% end %>

<% if @answers %>
  <% @answers.each do |answer| %>
    <%= link_to vote_answer_path(answer, vote_count: 1), method: 'post' do %>
      <p>Upvote</p>
    <% end %>
    <%= link_to vote_answer_path(answer, vote_count: -1), method: 'post' do %>
      <p>Downvote</p>
    <% end %>
    <div><%= answer.body %></div>
      <% if answer.user_id == session[:user_id] %>
        <%= link_to 'Edit', edit_question_answer_path(@question, answer) %>
        <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
      <% if answer.comments %>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.body %></li>
            <% if comment.user_id == session[:user_id] %>
              <%= link_to 'Edit', edit_answer_comment_path(answer, comment) %>
              <%= link_to 'Delete', answer_comment_path(answer, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <%= link_to 'Add a Comment', new_answer_comment_path(answer) %>
    <% end %>
<% end %>